<!DOCTYPE html>
<html lang="en">
  <head>
    
    <title>Mark down blog</title>
    <link rel="stylesheet" type="text/css" href={{url_for("static", filename="css/main.css")}}>
  </head>
  <body>
    <header>Severin Murcina</header>
    <nav>
      <ul class="nav">
        <li><a href="#">About</a></li>
        <li><a href="#">Articles</a></li>
        <li><a href="#">Admin</a></li>

      </ul>
    </nav>
    <main>Krokodíl dlhohlavý sa vydáva za potravou v noci a loví predovšetkým ryby a iné vodné druhy živočíchov ako sú korytnačky a kraby, občas uloví aj rôzne druhy vtákov. Vo viac zaľudnených oblastiach má na svedomí časté miznutie domácich zvierat (hlavne kôz a oviec). Mláďatá sa živia podobne ako u ostatných krokodílov rôznymi malými vodnými bezstavovcami. U krokodíla dlhohlavého bolo zaznamenaných už niekoľko útokov na človeka, napr. v oblastiach Kostariky alebo v Guatemale nie sú správy o napadnutí človeka týmto druhom príliš ojedinelé. Útoky však nie sú tak časté a strašné ako pri ich väčších a agresívnejších príbuzných krokodíla nílskeho alebo morského.

      </main>
    <footer>Severin Murcina 2020</footer>
  </body>
</html>
