{% extends "_main.jinja" %}

 {% block title %}
Welcome to markdown blog
{% endblock  %}

{% block main %}
Amerika je jeden zo svetadielov Zeme a používa sa ako súhrnné označenie pre dvojkontinent Severná Amerika a Južná Amerika, ktoré sú prepojené úzkym pruhom súše, ktorý sa často označuje ako Stredná Amerika, alebo Mezoamerika. Používa sa aj staršie pomenovanie Nový svet. Amerika leží medzi Tichým oceánom na západe a Atlantickým oceánom na východe. Zo severu ju obmýva Severný ľadový oceán, od Antarktídy ju oddeľujú vody Južného oceánu.
{% endblock  %}