<!DOCTYPE html>
<html lang="en">
  <head>
    
    <title>Mark down blog</title>
    <link rel="stylesheet" type="text/css" href={{url_for("static", filename="css/main.css")}}>
  </head>
  <body>
    <header>Severin Murcina</header>
    <nav>
      <ul class="nav">
        <li><a href="#">About</a></li>
        <li><a href="#">Articles</a></li>
        <li><a href="#">Admin</a></li>

      </ul>
    </nav>
    <main>Obýva pobrežie Atlantického a Tichého oceánu na území Belize, Kolumbie, Kostariky, Dominikánskej republiky, Ekvádoru, Salvádoru, Guatemaly, Haiti, Hondurasu, Nikaragui, Mexika, Panamy, Peru, Spojených štátov a Venezuely. Množí sa aj na Kube, Jamajke a Hispaniole. Na Floride v USA sa počet voľne žijúcich krokodílov dlhohlavých odhaduje na zhruba 2 000 jedincov. Vďaka ilegálnemu lovu a strate svojho prirodzeného biotopu je v mnohých oblastiach krokodíl dlhohlavý považovaný za ohrozeného. Oficiálne je však v Červenom zozname IUCN zaradený do kategórie zraniteľných druhov [1]..

      </main>
    <footer>Severin Murcina 2020</footer>
  </body>
</html>
